$green: #2DBE64;
$dark_green: #0AAF60;
$btn_hover_green: #2CA75B;
$gray: #F8F8FA;
$dark_gray: #F2F2F2;
$red: #EB5757;
$white: #fff;
$black: #292D32;

$breakfast: #FFD130;
$broth: #F0C980;
$appetizers: #F451C7;
$drinks: #B850E9;
$main_courses: $red;
$pasta_pizza: #FF800B;
$risotto: #DBC174;
$salads: #27AE60;
$sauces_marinades: #5158F4;
$soups: #FEB120;
$sandwiches: #DA8639;
$pastries_desserts: #E4B763;

$main_font: "Mulish";
$second_font: "Gerhaus";

body{
    font-family: $main_font;
    font-weight: 400;
    overflow-x: hidden;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.half_column{
    width: 50%;
}

.btn_bg{
    padding: 14px 16px;   
    gap: 10px;
    border-radius: 30px;
    background: $green;
    color: $white;
    font-size: 16px;
    font-weight: 500;

    &:hover{
        background: $btn_hover_green;
        color: $white;
    }
}

.btn_nonbg{
    padding: 14px 16px;   
    gap: 10px;
    border-radius: 30px;
    border: 2px solid $green;
    background: $white;
    color: $green;
    font-size: 16px;
    font-weight: 500;

    &:hover{
        background: $green;
        color: $white;
    }
}