$green: #2DBE64;
$dark_green: #0AAF60;
$btn_hover_green: #2CA75B;
$gray: #F8F8FA;
$dark_gray: #F2F2F2;
$red: #EB5757;
$white: #fff;
$black: #292D32;

$breakfast: #FFD130;
$broth: #F0C980;
$appetizers: #F451C7;
$drinks: #B850E9;
$main_courses: #EB5757;
$pasta_pizza: #FF800B;
$risotto: #DBC174;
$salads: #27AE60;
$sauces_marinades: #5158F4;
$soups: #FEB120;
$sandwiches: #DA8639;
$pastries_desserts: #E4B763;

$main_font: "Mulish";
$second_font: "Gerhaus";

body{
    font-family: $main_font;
    font-weight: 400;
    overflow-x: hidden;

    // &.modal-open{         
    //     position: fixed;
    //     width: 100%;
    // }
}

.adv_block{
    border-radius: 30px;
    border: 1px solid $dark_gray;
    background-color: $gray;
    height: 350px;
}

section{
    padding-bottom: 120px;    

        .section_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 48px;

            .section_title{
                font-family: $second_font;
                font-size: 48px;
                line-height: 120%;                
            }
        }      
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.half_column{
    width: 50%;
}

.btn_bg{
    padding: 14px 16px;   
    gap: 10px;
    border-radius: 30px;
    background: $green;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
    cursor: pointer;

    &:hover{
        background: $btn_hover_green;
        color: $white;
    }
}

.btn_nonbg{
    padding: 14px 16px;   
    gap: 10px;
    border-radius: 30px;
    border: 2px solid $green;
    background: $white;
    color: $green;
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
    cursor: pointer;

    &:hover{
        background: $green;
        color: $white;
    }
}

button{
    border: none;
}

.meta_category{
    background-color: lighten($black, 30%);
}

.breakfast{
    background-color: $breakfast;
    &.category_item{
        background-color: lighten($breakfast, 30%);
    }
}

.broth{
    background-color: $broth;
    &.category_item{
        background-color: lighten($broth, 30%);
    }
}

.appetizers{
    background-color: $appetizers;
    &.category_item{
        background-color: lighten($appetizers, 30%);
    }
}

.drinks{
    background-color: $drinks;
    &.category_item{
        background-color: lighten($drinks, 30%);
    }
}

.main_courses{
    background-color: $main_courses;
    &.category_item{
        background-color: lighten($main_courses, 30%);
    }
}

.pasta_pizza{
    background-color: $pasta_pizza;
    &.category_item{
        background-color: lighten($pasta_pizza, 30%);
    }
}

.risotto{
    background-color: $risotto;
    &.category_item{
        background-color: lighten($risotto, 30%);
    }
}

.salads{
    background-color: $salads;
    &.category_item{
        background-color: lighten($salads, 30%);
    }
}

.sauces_marinades{
    background-color: $sauces_marinades;
    &.category_item{
        background-color: lighten($sauces_marinades, 30%);
    }
}

.soups{
    background-color: $soups;
    &.category_item{
        background-color: lighten($soups, 30%);
    }
}

.sandwiches{
    background-color: $sandwiches;
    &.category_item{
        background-color: lighten($sandwiches, 30%);
    }
}

.pastries_desserts{
    background-color: $pastries_desserts;
    &.category_item{
        background-color: lighten($pastries_desserts, 30%);
    }
}

.page-header__breadcrumbs{
    font-size: 14px;
    display: flex;
    gap: 6px;
    align-items: center;

    span{
        display: flex;
    }

    a{
        color: $black;
    }

    .breadcrumbs__current{
        color: #828282
    }


}


@keyframes slideDown {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
}