*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

hr {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-200.woff2") format("woff2"), url("../fonts/mulish/Mulish-200.woff") format("woff"), url("../fonts/mulish/Mulish-200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-300.woff2") format("woff2"), url("../fonts/mulish/Mulish-300.woff") format("woff"), url("../fonts/mulish/Mulish-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-400.woff2") format("woff2"), url("../fonts/mulish/Mulish-400.woff") format("woff"), url("../fonts/mulish/Mulish-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-500.woff2") format("woff2"), url("../fonts/mulish/Mulish-500.woff") format("woff"), url("../fonts/mulish/Mulish-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-600.woff2") format("woff2"), url("../fonts/mulish/Mulish-600.woff") format("woff"), url("../fonts/mulish/Mulish-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-700.woff2") format("woff2"), url("../fonts/mulish/Mulish-700.woff") format("woff"), url("../fonts/mulish/Mulish-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-800.woff2") format("woff2"), url("../fonts/mulish/Mulish-800.woff") format("woff"), url("../fonts/mulish/Mulish-800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-900.woff2") format("woff2"), url("../fonts/mulish/Mulish-900.woff") format("woff"), url("../fonts/mulish/Mulish-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Gerhaus";
  src: url("../fonts/gerhaus/Gerhaus.woff2") format("woff2"), url("../fonts/gerhaus/Gerhaus.woff") format("woff"), url("../fonts/gerhaus/Gerhaus.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
body {
  font-family: "Mulish";
  font-weight: 400;
  overflow-x: hidden;
}

.adv_block {
  border-radius: 30px;
  border: 1px solid #F2F2F2;
  background-color: #F8F8FA;
  height: 350px;
}

section {
  padding-bottom: 120px;
}
section .section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px;
}
section .section_header .section_title {
  font-family: "Gerhaus";
  font-size: 48px;
  line-height: 120%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.half_column {
  width: 50%;
}

.btn_bg {
  padding: 14px 16px;
  gap: 10px;
  border-radius: 30px;
  background: #2DBE64;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.btn_bg:hover {
  background: #2CA75B;
  color: #fff;
}

.btn_nonbg {
  padding: 14px 16px;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid #2DBE64;
  background: #fff;
  color: #2DBE64;
  font-size: 16px;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.btn_nonbg:hover {
  background: #2DBE64;
  color: #fff;
}

.meta_category {
  background-color: #6e7986;
}

.breakfast {
  background-color: #FFD130;
}
.breakfast.category_item {
  background-color: #fff3c9;
}

.broth {
  background-color: #F0C980;
}
.broth.category_item {
  background-color: white;
}

.appetizers {
  background-color: #F451C7;
}
.appetizers.category_item {
  background-color: #fde1f5;
}

.drinks {
  background-color: #B850E9;
}
.drinks.category_item {
  background-color: #efd8fa;
}

.main_courses {
  background-color: #EB5757;
}
.main_courses.category_item {
  background-color: #fbe0e0;
}

.pasta_pizza {
  background-color: #FF800B;
}
.pasta_pizza.category_item {
  background-color: #ffd0a4;
}

.risotto {
  background-color: #DBC174;
}
.risotto.category_item {
  background-color: #faf7ee;
}

.salads {
  background-color: #27AE60;
}
.salads.category_item {
  background-color: #89e5b0;
}

.sauces_marinades {
  background-color: #5158F4;
}
.sauces_marinades.category_item {
  background-color: #e1e2fd;
}

.soups {
  background-color: #FEB120;
}
.soups.category_item {
  background-color: #ffe6b8;
}

.sandwiches {
  background-color: #DA8639;
}
.sandwiches.category_item {
  background-color: #f2d5ba;
}

.pastries_desserts {
  background-color: #E4B763;
}
.pastries_desserts.category_item {
  background-color: #fbf3e5;
}

.page-header__breadcrumbs {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__breadcrumbs span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-header__breadcrumbs a {
  color: #292D32;
}
.page-header__breadcrumbs .breadcrumbs__current {
  color: #828282;
}

@-webkit-keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
.search_moderation .search_moderation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.search_moderation .search_moderation-item .search_value {
  color: #292D32;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}/*# sourceMappingURL=admin-styles.css.map */