@import "reset";
@import "fonts";
@import "all";


// ---------------------header---------------
.site-header {
    .container {
        justify-content: space-between;
        padding: 37px 0px;

        .header_left,
        .header_right{
            flex-direction: row;
            align-items: center;
            gap: 24px;
        }

        .header_left{
            .main-navigation{
                .menu{
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    a{
                        color: $black;
                        font-size: 16px;
                    }                    

                    .menu-item{
                        padding: 2px 5px;
                        border-radius: 6px;

                        &:hover{
                            background-color: $gray;
                        }
                    }
                }
            }
        }

        .header_right{
            a{                
                &.header_account{
                    gap: 6px;
                    color: $black;

                    &:hover{
                        color:  $green;
                    }
                }

                .icon{
                    width: 24px;
                    height: 24px;

                    path{
                        fill: $black;
                    }
                }

                &:hover{ 
                    .icon{                        
                        path{
                            fill: $green;
                        }                      
                    }
                }
            }
        }
    }
}

/* MAIN POPULAR CATEGORIES */
#popular_categories{
    .section_title{
        font-size: 64px;
    }

    .popular_categories-grid{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);    

        .category_item{
            border-radius: 20px;
            padding: 20px;
            justify-content: center;

            .category_item-title{
                font-family: $second_font;
                font-size:24px;
                text-align: center;
                color: $black;
            }
        }

        .category_item:nth-child(2),
        .category_item:nth-child(4){
            grid-row: span 2;
        }

        .category_item.ads{
            background-color: $gray;
        }
    }
}
    










@import "adaptive"