*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

hr {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-200.woff2") format("woff2"), url("../fonts/mulish/Mulish-200.woff") format("woff"), url("../fonts/mulish/Mulish-200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-300.woff2") format("woff2"), url("../fonts/mulish/Mulish-300.woff") format("woff"), url("../fonts/mulish/Mulish-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-400.woff2") format("woff2"), url("../fonts/mulish/Mulish-400.woff") format("woff"), url("../fonts/mulish/Mulish-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-500.woff2") format("woff2"), url("../fonts/mulish/Mulish-500.woff") format("woff"), url("../fonts/mulish/Mulish-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-600.woff2") format("woff2"), url("../fonts/mulish/Mulish-600.woff") format("woff"), url("../fonts/mulish/Mulish-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-700.woff2") format("woff2"), url("../fonts/mulish/Mulish-700.woff") format("woff"), url("../fonts/mulish/Mulish-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-800.woff2") format("woff2"), url("../fonts/mulish/Mulish-800.woff") format("woff"), url("../fonts/mulish/Mulish-800.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/mulish/Mulish-900.woff2") format("woff2"), url("../fonts/mulish/Mulish-900.woff") format("woff"), url("../fonts/mulish/Mulish-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Gerhaus";
  src: url("../fonts/gerhaus/Gerhaus.woff2") format("woff2"), url("../fonts/gerhaus/Gerhaus.woff") format("woff"), url("../fonts/gerhaus/Gerhaus.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
body {
  font-family: "Mulish";
  font-weight: 400;
  overflow-x: hidden;
}

.adv_block {
  border-radius: 30px;
  border: 1px solid #F2F2F2;
  background-color: #F8F8FA;
  height: 350px;
}

section {
  padding-bottom: 120px;
}
section .section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px;
}
section .section_header .section_title {
  font-family: "Gerhaus";
  font-size: 48px;
  line-height: 120%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.half_column {
  width: 50%;
}

.btn_bg {
  padding: 14px 16px;
  gap: 10px;
  border-radius: 30px;
  background: #2DBE64;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.btn_bg:hover {
  background: #2CA75B;
  color: #fff;
}

.btn_nonbg {
  padding: 14px 16px;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid #2DBE64;
  background: #fff;
  color: #2DBE64;
  font-size: 16px;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.btn_nonbg:hover {
  background: #2DBE64;
  color: #fff;
}

.meta_category {
  background-color: #6e7986;
}

.breakfast {
  background-color: #FFD130;
}
.breakfast.category_item {
  background-color: #fff3c9;
}

.broth {
  background-color: #F0C980;
}
.broth.category_item {
  background-color: white;
}

.appetizers {
  background-color: #F451C7;
}
.appetizers.category_item {
  background-color: #fde1f5;
}

.drinks {
  background-color: #B850E9;
}
.drinks.category_item {
  background-color: #efd8fa;
}

.main_courses {
  background-color: #EB5757;
}
.main_courses.category_item {
  background-color: #fbe0e0;
}

.pasta_pizza {
  background-color: #FF800B;
}
.pasta_pizza.category_item {
  background-color: #ffd0a4;
}

.risotto {
  background-color: #DBC174;
}
.risotto.category_item {
  background-color: #faf7ee;
}

.salads {
  background-color: #27AE60;
}
.salads.category_item {
  background-color: #89e5b0;
}

.sauces_marinades {
  background-color: #5158F4;
}
.sauces_marinades.category_item {
  background-color: #e1e2fd;
}

.soups {
  background-color: #FEB120;
}
.soups.category_item {
  background-color: #ffe6b8;
}

.sandwiches {
  background-color: #DA8639;
}
.sandwiches.category_item {
  background-color: #f2d5ba;
}

.pastries_desserts {
  background-color: #E4B763;
}
.pastries_desserts.category_item {
  background-color: #fbf3e5;
}

@-webkit-keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
.site-header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0px;
}
.site-header .container .header_left,
.site-header .container .header_right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.site-header .container .header_left .main-navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}
.site-header .container .header_left .main-navigation .menu a {
  color: #292D32;
  font-size: 16px;
}
.site-header .container .header_left .main-navigation .menu .menu-item {
  padding: 2px 5px;
  border-radius: 6px;
}
.site-header .container .header_left .main-navigation .menu .menu-item:hover {
  background-color: #F8F8FA;
}
.site-header .container .header_right a.header_account {
  gap: 6px;
  color: #292D32;
}
.site-header .container .header_right a.header_account:hover {
  color: #2DBE64;
}
.site-header .container .header_right a .icon {
  width: 24px;
  height: 24px;
}
.site-header .container .header_right a .icon path {
  fill: #292D32;
}
.site-header .container .header_right a:hover .icon path {
  fill: #2DBE64;
}
.site-header.fixed {
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: -100px;
  -webkit-animation: slideDown 0.5s forwards;
          animation: slideDown 0.5s forwards;
}
.site-header.fixed .container {
  padding: 10px 0px;
}

/* MAIN POPULAR CATEGORIES */
#popular_categories {
  padding-top: 100px;
}
#popular_categories .section_title {
  font-size: 64px;
}
#popular_categories .popular_categories-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
}
#popular_categories .popular_categories-grid .category_item {
  border-radius: 20px;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#popular_categories .popular_categories-grid .category_item .category_item-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#popular_categories .popular_categories-grid .category_item .category_item-wrapper::before {
  content: "";
}
#popular_categories .popular_categories-grid .category_item .category_item-wrapper .category_item-title {
  font-family: "Gerhaus";
  font-size: 24px;
  text-align: center;
  color: #292D32;
}
#popular_categories .popular_categories-grid .category_item:nth-child(2),
#popular_categories .popular_categories-grid .category_item:nth-child(4) {
  grid-row: span 2;
}
#popular_categories .popular_categories-grid .category_item.ads {
  background-color: #F8F8FA;
}

/* MAIN NEW RECIPES */
.recipes_grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
}
.recipes_grid .recipe_loop-item {
  display: block;
  grid-column: span 2;
}
.recipes_grid .recipe_loop-item .img_block {
  position: relative;
  border-radius: 30px;
}
.recipes_grid .recipe_loop-item .img_block img {
  height: 246px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.3019607843);
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .meta_category {
  border-radius: 10px;
  color: #fff;
  padding: 4px 8px;
  text-shadow: 0 0 3px #292D32;
  font-size: 14px;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .meta_category:hover {
  -webkit-box-shadow: 0px 0px 20px 0px #fff;
          box-shadow: 0px 0px 20px 0px #fff;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .bookmark {
  width: 40px;
  height: 40px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(41, 45, 50, 0.1);
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .bookmark svg path {
  fill: #BDBDBD;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .bookmark:hover svg path {
  fill: #2DBE64;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .bookmark.added {
  background-color: #fff;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .top_meta .bookmark.added svg path {
  fill: #2DBE64;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .bottom_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .bottom_meta .bottom_meta-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .bottom_meta .bottom_meta-item .bottom_meta-icon path {
  fill: #fff;
}
.recipes_grid .recipe_loop-item .img_block .recipe_meta .bottom_meta .bottom_meta-item .bottom_meta-value {
  font-size: 14px;
  color: #fff;
  line-height: 160%;
}
.recipes_grid .recipe_loop-item .recipe_loop-content {
  padding-top: 16px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .categories {
  gap: 6px;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .categories .recipe_category-item {
  color: #828282;
  font-size: 14px;
  line-height: 160%;
  text-decoration: underline;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .categories .recipe_category-item:last-child svg {
  display: none;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .categories .recipe_category-item:hover {
  color: #363636;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .recipe_title {
  font-size: 24px;
  font-weight: 800;
  line-height: 140%;
  color: #292D32;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .recipe_desc {
  font-size: 16px;
  line-height: 140%;
  color: #292D32;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .recipe_ingridients {
  font-size: 12px;
  line-height: 160%;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .recipe_ingridients .recipe_ingridients-item {
  color: #828282;
  text-decoration: underline;
}
.recipes_grid .recipe_loop-item .recipe_loop-content .recipe_ingridients .recipe_ingridients-item:hover {
  color: #363636;
}
.recipes_grid .recipe_loop-item:nth-child(4),
.recipes_grid .recipe_loop-item:nth-child(5) {
  grid-column: span 3;
}
.recipes_grid .recipe_loop-item:nth-child(4) .img_block img,
.recipes_grid .recipe_loop-item:nth-child(5) .img_block img {
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* CATEGORIES LIST GRID */
.categories_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.categories_grid .category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.categories_grid .category_list .category_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categories_grid .category_list .category_item.hidden {
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.categories_grid .category_list .category_item.visible {
  opacity: 1;
  max-height: unset;
}
.categories_grid .category_list .parent_category .category_item .category_name h3 {
  color: #292D32;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.72px;
}
.categories_grid .category_list .parent_category .category_item .category_name:hover h3 {
  color: #2DBE64;
}
.categories_grid .category_list .parent_category .category_item .category_post_count {
  color: #292D32;
  font-size: 14px;
}
.categories_grid .category_list .child_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.categories_grid .category_list .child_categories .category_item .category_name h3 {
  color: #292D32;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.categories_grid .category_list .child_categories .category_item .category_name:hover h3 {
  color: #2DBE64;
}
.categories_grid .category_list .child_categories .category_item .category_post_count {
  color: #828282;
  font-size: 12px;
}
.categories_grid .category_list .child_categories .show_more {
  color: #2DBE64;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

/* FOOTER */
footer {
  padding-top: 100px;
  background-color: #F8F8FA;
}
footer .container .footer_top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
}
footer .container .footer_top .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
footer .container .footer_top .footer_logo .logo_img-link img {
  height: 25px;
  width: auto;
}
footer .container .footer_top .footer_menu .footer_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
footer .container .footer_top .footer_menu .footer_menu_list .menu_link {
  color: #292D32;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.64px;
}
footer .container .footer_top .footer_menu .footer_menu_list .menu_link:hover {
  color: #2DBE64;
}
footer .container .footer_top .footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
footer .container .footer_top .footer_contacts .contacts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
footer .container .footer_top .footer_contacts .contacts_item .footer_contacts-title {
  color: #2DBE64;
  font-size: 16px;
  font-weight: 900;
  line-height: 140%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
footer .container .footer_top .footer_contacts .contacts_item .footer_contacts-link {
  color: #292D32;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
footer .container .footer_top .footer_contacts .contacts_item .footer_contacts-link:hover {
  color: #2DBE64;
}
footer .container .footer_bottom {
  padding: 30px 0px;
  color: #292D32;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.56px;
}

.search_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.6);
  display: none;
  z-index: 9;
}
.search_modal_overlay.active {
  display: block;
}
.search_modal_overlay .search_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 555px;
  padding: 32px;
  border-radius: 30px;
  background-color: #fff;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.search_modal_overlay .search_modal .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form {
  width: 100%;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form input {
  border: none;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form #ajax-search-input {
  border-radius: 8px;
  padding: 20px 24px 20px 58px;
  background-color: #F8F8FA;
  width: 100%;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form #search_submit {
  position: absolute;
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTExLjUgMjEuNzVDNS44NSAyMS43NSAxLjI1IDE3LjE1IDEuMjUgMTEuNUMxLjI1IDUuODUgNS44NSAxLjI1IDExLjUgMS4yNUMxNy4xNSAxLjI1IDIxLjc1IDUuODUgMjEuNzUgMTEuNUMyMS43NSAxNy4xNSAxNy4xNSAyMS43NSAxMS41IDIxLjc1Wk0xMS41IDIuNzVDNi42NyAyLjc1IDIuNzUgNi42OCAyLjc1IDExLjVDMi43NSAxNi4zMiA2LjY3IDIwLjI1IDExLjUgMjAuMjVDMTYuMzMgMjAuMjUgMjAuMjUgMTYuMzIgMjAuMjUgMTEuNUMyMC4yNSA2LjY4IDE2LjMzIDIuNzUgMTEuNSAyLjc1WiIgZmlsbD0iIzgyODI4MiIvPgogIDxwYXRoIGQ9Ik0yMi4wMDA0IDIyLjc0OTlDMjEuODEwNCAyMi43NDk5IDIxLjYyMDQgMjIuNjc5OSAyMS40NzA0IDIyLjUyOTlMMTkuNDcwNCAyMC41Mjk5QzE5LjE4MDQgMjAuMjM5OSAxOS4xODA0IDE5Ljc1OTkgMTkuNDcwNCAxOS40Njk5QzE5Ljc2MDQgMTkuMTc5OSAyMC4yNDA0IDE5LjE3OTkgMjAuNTMwNCAxOS40Njk5TDIyLjUzMDQgMjEuNDY5OUMyMi44MjA0IDIxLjc1OTkgMjIuODIwNCAyMi4yMzk5IDIyLjUzMDQgMjIuNTI5OUMyMi4zODA0IDIyLjY3OTkgMjIuMTkwNCAyMi43NDk5IDIyLjAwMDQgMjIuNzQ5OVoiIGZpbGw9IiM4MjgyODIiLz4KPC9zdmc+Cg==") 50% no-repeat;
  height: 24px;
  width: 24px;
  padding: 0;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form #search_submit:hover {
  background: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTExLjUgMjEuNzVDNS44NSAyMS43NSAxLjI1IDE3LjE1IDEuMjUgMTEuNUMxLjI1IDUuODUgNS44NSAxLjI1IDExLjUgMS4yNUMxNy4xNSAxLjI1IDIxLjc1IDUuODUgMjEuNzUgMTEuNUMyMS43NSAxNy4xNSAxNy4xNSAyMS43NSAxMS41IDIxLjc1Wk0xMS41IDIuNzVDNi42NyAyLjc1IDIuNzUgNi42OCAyLjc1IDExLjVDMi43NSAxNi4zMiA2LjY3IDIwLjI1IDExLjUgMjAuMjVDMTYuMzMgMjAuMjUgMjAuMjUgMTYuMzIgMjAuMjUgMTEuNUMyMC4yNSA2LjY4IDE2LjMzIDIuNzUgMTEuNSAyLjc1WiIgZmlsbD0iIzJEQkU2NCIvPgogIDxwYXRoIGQ9Ik0yMi4wMDA0IDIyLjc0OTlDMjEuODEwNCAyMi43NDk5IDIxLjYyMDQgMjIuNjc5OSAyMS40NzA0IDIyLjUyOTlMMTkuNDcwNCAyMC41Mjk5QzE5LjE4MDQgMjAuMjM5OSAxOS4xODA0IDE5Ljc1OTkgMTkuNDcwNCAxOS40Njk5QzE5Ljc2MDQgMTkuMTc5OSAyMC4yNDA0IDE5LjE3OTkgMjAuNTMwNCAxOS40Njk5TDIyLjUzMDQgMjEuNDY5OUMyMi44MjA0IDIxLjc1OTkgMjIuODIwNCAyMi4yMzk5IDIyLjUzMDQgMjIuNTI5OUMyMi4zODA0IDIyLjY3OTkgMjIuMTkwNCAyMi43NDk5IDIyLjAwMDQgMjIuNzQ5OVoiIGZpbGw9IiMyREJFNjQiLz4KPC9zdmc+Cg==") 50% no-repeat;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form::-webkit-input-placeholder {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form::-moz-placeholder {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form:-ms-input-placeholder {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form::-ms-input-placeholder {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.search_modal_overlay .search_modal .search_form #ajax-search-form::placeholder {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.search_modal_overlay .search_modal .search_form .close_modal {
  padding: 12px;
  border-radius: 50%;
  background-color: #F8F8FA;
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
}
.search_modal_overlay .search_modal .search_form .close_modal svg path {
  fill: #828282;
}
.search_modal_overlay .search_modal .search_form .close_modal:hover {
  background-color: #F2F2F2;
}
.search_modal_overlay .search_modal .search_form .close_modal:hover svg path {
  fill: #2DBE64;
}
.search_modal_overlay .search_modal .popular_search_query .popular_searches-title {
  color: #292D32;
  font-size: 18px;
  font-weight: 800;
}
.search_modal_overlay .search_modal .popular_search_query .popular_search-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}
.search_modal_overlay .search_modal .popular_search_query .popular_search-items .popular_search_item {
  border-radius: 30px;
  padding: 8px 16px;
  color: #292D32;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #F8F8FA;
  cursor: pointer;
}
.search_modal_overlay .search_modal .popular_search_query .popular_search-items .popular_search_item:hover {
  background-color: #2CA75B;
  color: #fff;
}
.search_modal_overlay .search_modal #search_results .search_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 16px 0px;
  border-bottom: 1px solid #E0E0E0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search_modal_overlay .search_modal #search_results .search_result .search_result-image {
  height: 60px;
  width: 97px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 8px;
}
.search_modal_overlay .search_modal #search_results .search_result .search_result-title {
  color: #292D32;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.64px;
}
.search_modal_overlay .search_modal #search_results:hover .search_result-title {
  color: #2DBE64;
}/*# sourceMappingURL=style.css.map */