@import "reset";
@import "fonts";
@import "all";


// ---------------------header---------------
.site-header {
    .container {
        justify-content: space-between;
        padding: 22px 0px;

        .header_left,
        .header_right{
            flex-direction: row;
            align-items: center;
            gap: 24px;
        }

        .header_left{
            .main-navigation{
                .menu{
                    display: flex;
                    flex-direction: row;
                    gap: 24px;

                    a{
                        color: $black;
                        font-size: 16px;
                    }                    

                    .menu-item{
                        padding: 2px 5px;
                        border-radius: 6px;

                        &:hover{
                            background-color: $gray;
                        }
                    }
                }
            }
        }

        .header_right{
            a{                
                &.header_account{
                    gap: 6px;
                    color: $black;

                    &:hover{
                        color:  $green;
                    }
                }

                .icon{
                    width: 24px;
                    height: 24px;

                    path{
                        fill: $black;
                    }
                }

                &:hover{ 
                    .icon{                        
                        path{
                            fill: $green;
                        }                      
                    }
                }
            }
        }
    }

    &.fixed{
        background: $white;        
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
        position: fixed;
        width: 100%;
        z-index: 999;
        top: -100px;
        animation: slideDown 0.5s forwards;

        .container{
            padding: 10px 0px;
        }
    }    
}

/* MAIN POPULAR CATEGORIES */
#popular_categories{
    padding-top: 100px;
    
    .section_title{
        font-size: 64px;
    }

    .popular_categories-grid{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);    

        .category_item{
            border-radius: 20px;
            padding: 20px;
            justify-content: center;

            .category_item-wrapper{
                flex-direction: column;
                justify-content: space-between;

                &::before{
                    content: '';
                }

                .category_item-title{
                    font-family: $second_font;
                    font-size:24px;
                    text-align: center;
                    color: $black;
                }
            }            
        }

        .category_item:nth-child(2),
        .category_item:nth-child(4){
            grid-row: span 2;
        }

        .category_item.ads{
            background-color: $gray;
        }
    }
}

/* MAIN NEW RECIPES */
.recipes_grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    
    .recipe_loop-item{
        display: block;
        grid-column: span 2;

        .img_block{
            position: relative;
            border-radius: 30px;
            img{
                height: 246px;
                object-fit: cover;
            }

            .recipe_meta{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 30px;
                padding: 24px;
                //background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
                background-color: #0000004D;

                .top_meta{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .meta_category{
                        border-radius: 10px;
                        color: $white;
                        padding: 4px 8px;
                        text-shadow: 0 0 3px $black;
                        font-size: 14px;
                        font-weight: 500;
                        height: fit-content;

                        &:hover{
                            box-shadow: 0px 0px 20px 0px $white;
                        }
                    } 

                    .bookmark{
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        display: flex;
                        border-radius: 50%;
                        background-color: transparentize($white, 0.5);
                        border: 1px solid transparentize($black, 0.9);

                        svg{
                            path{
                                fill: #BDBDBD;
                            }
                        }

                        &:hover{
                            svg{
                                path{
                                   fill: $green;
                                }
                            }
                        }

                        &.added{
                            background-color: $white;

                            svg{
                                path{
                                    fill: $green;
                                }
                            }
                        }
                    }
                }

                .bottom_meta{
                    display: flex;
                    gap: 16px;

                    .bottom_meta-item{
                        display: flex;
                        gap: 6px;
                        align-items: center;

                        .bottom_meta-icon{
                            path{
                                fill: $white;
                            }
                        }

                        .bottom_meta-value{
                            font-size: 14px;
                            color: $white;
                            line-height: 160%;
                        }
                    }                    
                }
            }
        }

        .recipe_loop-content{
            padding-top: 16px;
            gap: 10px;
            flex-direction: column;

            .categories{                
                gap: 6px;
                
                .recipe_category-item{
                    color: #828282;
                    font-size: 14px;
                    line-height: 160%;
                    text-decoration: underline;
                    gap: 6px;
                    align-items: center;

                    &:last-child{
                        svg{
                            display: none;
                        }
                    }

                    &:hover{
                        color: darken(#828282, 30%);
                    }
                }
            }

            .recipe_title{
                font-size: 24px;
                font-weight: 800;
                line-height: 140%;
                color: $black;
            }

            .recipe_desc{
                font-size: 16px;
                line-height: 140%;
                color: $black;
            }

            .recipe_ingridients{                
                font-size: 12px;
                line-height: 160%;
                column-gap: 12px;
                flex-wrap: wrap;        

                .recipe_ingridients-item{
                    color: #828282;
                    text-decoration: underline;

                    &:hover{
                        color: darken(#828282, 30%);
                    }
                }
            }

        }
    }

    .recipe_loop-item:nth-child(4),
    .recipe_loop-item:nth-child(5){
        grid-column: span 3;

        .img_block{
            img{
                height: 380px;
                object-fit: cover;
            }
        }
    }
}

/* CATEGORIES LIST GRID */
.categories_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .category_list{
        display: flex;
        flex-direction: column;
        gap: 24px; 
        
        .category_item{
            display: flex;
            gap: 16px;
            flex-wrap: nowrap;
            align-items: center;

            &.hidden{
                display: none;
                transition: all 0.5s ease;                
                opacity: 0; 
                max-height: 0; 
                overflow: hidden;               
            }

            &.visible{
                opacity: 1;
                max-height: unset;
            }
        }


        .parent_category{
            .category_item{
                .category_name{
                    h3{
                       color: $black;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 800;
                        line-height: 140%;
                        letter-spacing: 0.72px; 
                    }                    
                    
                    &:hover{
                        h3{
                            color: $green;  
                        }                        
                    }
                }
                .category_post_count{
                    color: $black;
                    font-size: 14px;
                }
            }
        }

        .child_categories{
            display: flex;
            gap: 10px;
            flex-direction: column;

            .category_item{    
                .category_name{
                    h3{
                        color: $black;
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 400;
                        line-height: 140%;
                        letter-spacing: 0.64px;
                    }    
                    &:hover{
                        h3{
                            color: $green;
                        }                        
                    }
                }    
                .category_post_count{
                    color: #828282;
                    font-size: 12px;
                }
            }
            .show_more{
                color: $green;
                font-size: 16px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0.64px;
                display: flex;
                gap: 6px;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}

/* FOOTER */
footer{
    padding-top: 100px;
    background-color: $gray;

    .container{
        .footer_top{
            justify-content: space-between;
            padding-bottom: 32px;

            .footer_logo{
                display: flex;
                flex-direction: column;
                gap: 18px;
                .logo_img-link{
                    img{
                        height: 25px;
                        width: auto;                    
                    }                    
                }
            }

            .footer_menu{
                .footer_menu_list{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
    
                    .menu_link{
                        color: $black;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0.64px;
    
                        &:hover{
                            color: $green;
                        }
                    }
                }
            }

            .footer_contacts{
                display: flex;
                flex-direction: column;
                gap: 16px;

                .contacts_item{
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .footer_contacts-title{
                        color: $green;
                        font-size: 16px;                        
                        font-weight: 900;
                        line-height: 140%;
                        letter-spacing: 0.64px;
                        text-transform: uppercase;
                    }

                    .footer_contacts-link{
                        color: $black;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 140%;
                        letter-spacing: 0.64px;

                        &:hover{
                            color: $green;
                        }
                    }
                }
            }
        }
        
        .footer_bottom{
            padding: 30px 0px;
            color: $black;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.56px;
        }
    }
}

.search_modal_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($black, 0.4);
    display: none;

    &.active{
        display: block;
    }

    .search_modal {  
        position: absolute;      
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 555px;
        padding: 32px;
        border-radius: 30px;
        background-color: $white;
        z-index: 1000;

        .search_form{
            display: flex;
            flex-direction: row;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;

            #ajax-search-form{
                input{
                    border: none;
                }

                #ajax-search-input{
                    border-radius: 8px;
                    padding: 20px 24px 20px 58px;
                    background-color: $gray;
                    width: 100%;
                }

                #search_submit{
                    position: absolute;
                    left: 24px;  
                    top: 50%;
                    transform: translateY(-50%);                  
                    cursor: pointer;
                    background: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTExLjUgMjEuNzVDNS44NSAyMS43NSAxLjI1IDE3LjE1IDEuMjUgMTEuNUMxLjI1IDUuODUgNS44NSAxLjI1IDExLjUgMS4yNUMxNy4xNSAxLjI1IDIxLjc1IDUuODUgMjEuNzUgMTEuNUMyMS43NSAxNy4xNSAxNy4xNSAyMS43NSAxMS41IDIxLjc1Wk0xMS41IDIuNzVDNi42NyAyLjc1IDIuNzUgNi42OCAyLjc1IDExLjVDMi43NSAxNi4zMiA2LjY3IDIwLjI1IDExLjUgMjAuMjVDMTYuMzMgMjAuMjUgMjAuMjUgMTYuMzIgMjAuMjUgMTEuNUMyMC4yNSA2LjY4IDE2LjMzIDIuNzUgMTEuNSAyLjc1WiIgZmlsbD0iIzgyODI4MiIvPgogIDxwYXRoIGQ9Ik0yMi4wMDA0IDIyLjc0OTlDMjEuODEwNCAyMi43NDk5IDIxLjYyMDQgMjIuNjc5OSAyMS40NzA0IDIyLjUyOTlMMTkuNDcwNCAyMC41Mjk5QzE5LjE4MDQgMjAuMjM5OSAxOS4xODA0IDE5Ljc1OTkgMTkuNDcwNCAxOS40Njk5QzE5Ljc2MDQgMTkuMTc5OSAyMC4yNDA0IDE5LjE3OTkgMjAuNTMwNCAxOS40Njk5TDIyLjUzMDQgMjEuNDY5OUMyMi44MjA0IDIxLjc1OTkgMjIuODIwNCAyMi4yMzk5IDIyLjUzMDQgMjIuNTI5OUMyMi4zODA0IDIyLjY3OTkgMjIuMTkwNCAyMi43NDk5IDIyLjAwMDQgMjIuNzQ5OVoiIGZpbGw9IiM4MjgyODIiLz4KPC9zdmc+Cg==") 50% no-repeat;
                    height: 24px;
                    width: 24px;
                    padding: 0;

                    &:hover{
                        background: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTExLjUgMjEuNzVDNS44NSAyMS43NSAxLjI1IDE3LjE1IDEuMjUgMTEuNUMxLjI1IDUuODUgNS44NSAxLjI1IDExLjUgMS4yNUMxNy4xNSAxLjI1IDIxLjc1IDUuODUgMjEuNzUgMTEuNUMyMS43NSAxNy4xNSAxNy4xNSAyMS43NSAxMS41IDIxLjc1Wk0xMS41IDIuNzVDNi42NyAyLjc1IDIuNzUgNi42OCAyLjc1IDExLjVDMi43NSAxNi4zMiA2LjY3IDIwLjI1IDExLjUgMjAuMjVDMTYuMzMgMjAuMjUgMjAuMjUgMTYuMzIgMjAuMjUgMTEuNUMyMC4yNSA2LjY4IDE2LjMzIDIuNzUgMTEuNSAyLjc1WiIgZmlsbD0iIzJEQkU2NCIvPgogIDxwYXRoIGQ9Ik0yMi4wMDA0IDIyLjc0OTlDMjEuODEwNCAyMi43NDk5IDIxLjYyMDQgMjIuNjc5OSAyMS40NzA0IDIyLjUyOTlMMTkuNDcwNCAyMC41Mjk5QzE5LjE4MDQgMjAuMjM5OSAxOS4xODA0IDE5Ljc1OTkgMTkuNDcwNCAxOS40Njk5QzE5Ljc2MDQgMTkuMTc5OSAyMC4yNDA0IDE5LjE3OTkgMjAuNTMwNCAxOS40Njk5TDIyLjUzMDQgMjEuNDY5OUMyMi44MjA0IDIxLjc1OTkgMjIuODIwNCAyMi4yMzk5IDIyLjUzMDQgMjIuNTI5OUMyMi4zODA0IDIyLjY3OTkgMjIuMTkwNCAyMi43NDk5IDIyLjAwMDQgMjIuNzQ5OVoiIGZpbGw9IiMyREJFNjQiLz4KPC9zdmc+Cg==") 50% no-repeat;
                    }
                }



                &::placeholder{
                    color: #828282;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0.64px;
                }
            }

            .close_modal{
                padding: 12px;
                border-radius: 50%;
                background-color: $gray;
                height: 48px;
                width: 48px;
                border: none;
                cursor: pointer;
    
                svg{
                    path{
                        fill: #828282;
                    }
                }
    
                &:hover{
                    background-color: $dark_gray;
    
                    svg{
                        path{
                            fill: $green;
                        }
                    }
    
                }
            }
        }

        #search_results{
            .search_result{
                display: flex;
                gap: 16px;
                padding: 16px 0px;
                border-bottom: 1px solid #E0E0E0;
                align-items: center;


                .search_result-image{
                    height: 60px;
                    width: 97px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 8px;
                }

                .search_result-title{
                    color: $black;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: 0.64px;
                }
            }

            &:hover{
                .search_result-title{
                    color: $green
                }
            }
        }

        


    }    
}












@import "adaptive"